/* CSS ファイルの冒頭には Sprockets ディレクティブを使用します */
 /*
 *= require_self
 *= require_tree .
 */

/* Bootstrap のインポートは Sprockets ではなく SCSS を使う場合に行います */
@import "bootstrap";

/* カレンダーの日ごとのスタイル */
.day {
  border: 1px solid #ccc;
  padding: 10px;
  height: 100px;
  overflow: auto;
}

/* リストのスタイルをカスタマイズ */
ul {
  list-style: none;
  margin: 0; /* 余白をリセット */
  padding: 0; /* 内側の余白をリセット */
}
table {
  table-layout: fixed;
  width: 100%; /* This makes the table span the full width of its container */
}

th, td {
  text-align: left;
  padding: 8px; /* Adjust the padding to your liking */
}

